@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
    visibility: visible;
  }
  90% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes type-me {
  0% {
    width: 0;
  }
  100% {
    width: 5.75em;
  }
}
@keyframes choice {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 70px;
    opacity: 1;
  }
}
