/****** Cards ***********/
@mixin cards {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px #0000001a;
}
/****** Box shadow***********/
@mixin shadow-nav {
  box-shadow: 0px 2px 4px 0px #00000026;
}
@mixin shadow-localisation {
  box-shadow: 0px 4px 4px 0px #00000040;
}
/****** Button***********/
@mixin button($width) {
  width: $width;
  padding: 1rem 0;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px #00000040;
  cursor: pointer;
}
@mixin news {
  background-color: $tertiary-color;
  width: 5rem;
  height: 1.81rem;
  border-radius: 2px;
  padding: 0.5rem 0.625rem;
}
/****** Assets***********/
@mixin circle($color) {
  background-color: $color;
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin spinner($color) {
  width: 75px;
  height: 75px;
  border: 15px solid white;
  border-top-color: $color;
  border-radius: 50%;
}
