@import "initialisation.scss";
@import "variables.scss";
@import "mixins.scss";
@import "keyframes.scss";
/****** header ***********/
.navbar-restaurant {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: relative;
  &__logo {
    width: 197px;
    height: 36px;
    margin: 14px 0;
  }
  .fa-solid {
    font-size: larger;
    position: absolute;
    left: 20px;
    top: 25px;
  }
}
/****** Image principale***********/

.restaurant-picture {
  width: 100vw;
  height: 275px;
  object-fit: cover;
  margin-bottom: -55px;
  @media (min-width: 1024px) {
    height: 383px;
  }
}
/****** Restaurant-page***********/
.restaurant-page {
  background-color: $quertiary-grey;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: relative;
  z-index: 1;
  @media (min-width: 1024px) {
    width: 70vw;
    margin: 0 auto;
  }
  &__introduction {
    padding: 2rem 2.56rem 0 1.06rem;
    margin-bottom: 2.625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (min-width: 768px) {
      justify-content: center;
      gap: 1.5rem;
    }
    &--title {
      font-family: "Shrikhand";
      font-size: 1.75rem;
      font-weight: 400;
    }
    .material-symbols-outlined {
      cursor: pointer;
      background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
      background-clip: text;
      font-size: 1.75rem;
      font-variation-settings: "FILL" 0;
      transition: all 200ms ease-in-out;
      &:hover {
        font-variation-settings: "FILL" 1;
        color: transparent;
      }
    }
  }
  &__cta {
    display: flex;
    justify-content: center;
    padding-top: 1.75rem;
    padding-bottom: 2.5rem;
    &--button {
      @include button(218px);
      background: linear-gradient(to top, $main-color, $secondary-color);
      color: white;
      font-size: 1rem;
      position: relative;
      z-index: 1;
      &:hover {
        &::after {
          opacity: 1;
        }
      }
      &::after {
        content: "";
        @include button(218px);
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(
          to top,
          lighten($main-color, 2%),
          lighten($secondary-color, 2%)
        );
        opacity: 0;
        transition: opacity 200ms;
      }
    }
  }
}
.menu {
  padding: 0 0.812rem;
  margin-bottom: 2.5rem;
  @media (min-width: 1024px) {
    width: 60%;
    margin: 0 auto 2.5rem auto;
  }
  &__title {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 0.25rem;
  }
  &__underline {
    background-color: $tertiary-color;
    width: 40px;
    height: 3px;
    margin-bottom: 0.75rem;
  }
  &__list {
    &--item {
      @include cards;
      height: 4.312rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.75rem;
    }
    &--content {
      padding: 0.843rem 0.937rem;
      flex: auto;
      min-width: 0;
      &:hover + .menu__list--choice {
        width: 70px;
      }
    }
    &--choice {
      background-color: $tertiary-color;
      height: 4.312rem;
      width: 0px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      transition: width 500ms ease-in-out;

      & .fa-solid {
        background-color: white;
        color: $tertiary-color;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &--meal {
      font-size: 1.125rem;
      font-weight: 500;
      margin-bottom: 0.312rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      min-width: 0;
    }
    &--details {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &--txt {
      font-size: 0.937rem;
      font-weight: 300;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      min-width: 0;
    }
    &--price {
      font-size: 0.937rem;
      font-weight: 700;
      color: $secondary-grey;
    }
  }
}
