@import "initialisation.scss";
@import "variables.scss";
@import "mixins.scss";
@import "keyframes.scss";
@import "palette-goût.scss";
/****** loader ***********/
.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $main-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeout 3s forwards;

  &__txt {
    font-family: "Shrikhand";
    font-size: 3rem;
    background: linear-gradient(to top, $main-color, $secondary-color);
    background-clip: text;
    color: transparent;
    width: 0;
    overflow: hidden;
    animation: type-me 2.5s ease-in-out 0s forwards;
    /*
    @include spinner($main-color);
    animation: loading 1.2s ease-in-out 0s 3, fadeout 4s forwards;
    */
  }
  @keyframes type-me {
    0% {
      width: 0;
    }
    100% {
      width: 5.75em;
    }
  }
}

/****** header ***********/
.navbar {
  display: flex;
  justify-content: center;
  position: relative;
  @include shadow-nav;
  .navbar__logo {
    width: 197px;
    height: 36px;
    margin-top: 14px;
    margin-bottom: 10px;
  }
}
.localisation {
  background-color: $main-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.968rem 0;
  position: relative;
  /*
  margin-bottom: 2.47rem;
  */
  @include shadow-localisation;
  .fa-solid {
    color: $secondary-grey;
    margin-right: 17px;
    margin-left: 8px;
    font-size: 1.25rem;
  }
  input[type="search"] {
    border: none;
    outline: none;
    background-color: $main-grey;
    color: $secondary-grey;
    font-size: 1rem;
    font-weight: 500;
    width: 150px;
  }
  input::placeholder {
    color: $secondary-grey;
    font-size: 1rem;
    font-weight: 500;
  }
  button[type="submit"] {
    display: none;
  }
}
/****** hero-banner ***********/
.hero-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2.47rem;
  margin-bottom: 3rem;
  background-color: $quertiary-grey;
  &__title {
    font-size: $h1-size;
    text-align: center;
    margin-bottom: 1rem;
    width: 60%;
    @media (min-width: 768px) {
      font-size: $h1-size--desktop;
      margin-bottom: 1.125rem;
    }
  }
  &__txt {
    font-size: 1.125rem;
    text-align: center;
    margin-bottom: 1.687rem;
    width: 80%;
    @media (min-width: 1024px) {
      margin-bottom: 1.125rem;
    }
  }
  &__cta {
    @include button(218px);
    background: linear-gradient(to top, $main-color, $secondary-color);
    color: white;
    font-size: 1rem;
    margin-bottom: 6.562rem;
    position: relative;
    z-index: 1;
    &:hover {
      &::after {
        opacity: 1;
      }
    }
    &::after {
      content: "";
      @include button(218px);
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(
        to top,
        lighten($main-color, 2%),
        lighten($secondary-color, 2%)
      );
      opacity: 0;
      transition: opacity 200ms;
    }
    @media (min-width: 1024px) {
      margin-bottom: 1.875rem;
    }
  }
}
/****** Introduction ***********/
.introduction {
  padding: 0 20px;
  @media (768px <= width <= 1024px) {
    padding-left: 30px;
  }

  @media (min-width: 1024px) {
    padding-left: 180px;
    width: 90%;
  }
  &__title {
    font-size: $h1-size;
    margin-bottom: 1.625rem;
  }
  &__list {
    margin-bottom: 4.25rem;
    @media (min-width: 768px) {
      display: flex;
      justify-content: center;
      gap: 24px;
      margin-bottom: 3.125rem;
    }
  }
  &__list--item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    @include cards;
    background-color: $quertiary-grey;
    padding: 1.787rem 0;
    margin-left: 0.781rem;
    margin-bottom: 1.56rem;
    position: relative;
    & .fa-solid {
      color: $tertiary-grey;
    }
    @media (768px <= width <= 1024px) {
      gap: 0.5rem;
      padding: 1rem 0.5rem 1rem 1.75rem;
      font-size: 0.9rem;
    }
    @media (min-width: 1024px) {
      width: 32%;
      margin-left: 0;
    }
  }
  &__list--item:last-of-type {
    .fa-solid {
      color: $main-color;
    }
  }
  &__list--numbering {
    @include circle($main-color);
    font-size: 0.887rem;
    position: absolute;
    left: -10px;
  }
}
/****** Restaurant ***********/
.restaurant {
  background-color: $main-grey;
  padding-bottom: 4.125rem;
  @media (min-width: 1024px) {
    padding-bottom: 1.875rem;
  }
  .restaurant__title,
  .restaurant__list {
    padding: 0 20px;
    @media (768px <= width <= 1024px) {
      padding: 0 30px;
    }
    @media (min-width: 1024px) {
      padding: 0 180px;
    }
  }
  .restaurant__list {
    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 50px;
    }
    @media (min-width: 1024px) {
      gap: 100px;
    }
  }
  & a {
    @media (min-width: 768px) {
      width: 42%;
    }
  }

  .restaurant__title {
    font-size: $h1-size;
    padding-top: 3.375rem;
    margin-bottom: 1.625rem;
  }
  .restaurant__card {
    @include cards;
    position: relative;
    margin-bottom: 1.5rem;
    &--img {
      height: 231px;
      width: 100%;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
    &--content {
      padding: 1rem 1.562rem 0 0.812rem;
      display: flex;
      justify-content: space-between;
    }
    &--title {
      font-size: $h3-size;
      font-weight: 700;
      margin-bottom: 0.25rem;
    }
    &--subtitle {
      font-size: $subtitle-size;
      margin-bottom: 0.75rem;
    }
    &--favourite {
      background: linear-gradient(to top, $main-color, $secondary-color);
      background-clip: text;
      font-size: 1.4rem;
      font-variation-settings: "FILL" 0;
      transition: all 200ms ease-in-out;
      &:hover {
        font-variation-settings: "FILL" 1;
        color: transparent;
      }
    }
    &--news {
      @include news;
      position: absolute;
      top: 15px;
      right: 15px;
      text-align: center;
      color: darken($tertiary-color, 35%);
      font-size: 0.875rem;
      font-weight: 700;
    }
  }
  .hidden {
    display: none;
  }
}

/****** Footer ***********/
footer {
  background-color: $secondary-grey;
  color: white;
  padding: 0 1.56rem;
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 24px;
    padding-bottom: 1.937rem;
    padding-top: 4rem;
    padding-right: 2rem;
  }
}
.footer-title {
  font-family: "Shrikhand";
  font-size: $h3-size;
  font-weight: 300;
  padding-top: 1rem;
  margin-bottom: 1rem;
  @media (768px <= width <= 1024px) {
    margin-bottom: 0;
    margin-left: 0.75rem;
  }
  @media (min-width: 1024px) {
    margin-bottom: 0;
    margin-left: 1.5rem;
  }
}
.footer-information {
  padding-bottom: 1.375rem;
  @media (768px <= width <= 1024px) {
    padding-bottom: 0;
    padding-top: 1.375rem;
    display: flex;
    column-gap: 8px;
  }
  @media (min-width: 1024px) {
    padding-bottom: 0;
    padding-top: 1.375rem;
    display: flex;
    column-gap: 24px;
  }
}
.footer-information__item {
  display: flex;
  gap: 0.625rem;
  margin-bottom: 0.5rem;
  &--txt {
    font-size: 1rem;
  }
}
