/****** Couleurs principales ***********/
$main-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

/****** Nuances de gris ***********/
$main-grey: #eaeaea;
$secondary-grey: #353535;
$tertiary-grey: #7e7e7e;

/****** Typographie ***********/
$h1-size: 1.5rem;
$h3-size: 1.125rem;
$subtitle-size: 1.06rem;
